language: go
go:
  - 1.14.x
dist: bionic
addons:
  snaps:
  - name: snapcraft
    confinement: classic

env:
  global:
    - LC_ALL=C.UTF-8
    - LANG=C.UTF-8
    - GO111MODULE=on

install:
  - sudo sed -i '/^deb/s/$/ universe/' /etc/apt/sources.list
  - sudo apt-get update

before_script:
  - npm install --unsafe-perm -g node-sass

script:
  - sudo snapcraft --destructive-mode
  
