// Import settings
@import "./settings";

// Import and include base Vanilla
@import "node_modules/vanilla-framework/scss/build";

// Import MAAS overrides of Vanilla patterns
@import "./vanilla-overrides";


// Import and include MAAS global styles

@import "./patterns_navigation";
//@include maas-buttons;
//@include maas-double-row;
//@include maas-footer;
//@include maas-forms;
//@include maas-icons;
//@include maas-links;
@include maas-navigation;
//@include maas-notifications;
//@include maas-table-actions;
//@include maas-tables;
//@include maas-tabs;
//@include maas-utilities;

.field_value {
  color: #666666;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.log {
  background-color: #333333;
  color: #eeeeee;
}

.col-small {
  width: 5%;
}

.col-medium {
  width: 10%;
}

.col-large {
  width: 30%;
}


.action {
  padding: 2px;
  height: 1.8rem;
}

section {
  margin-top: 1em;
}